.singlepage .itemsDetails{
   color: black;
    width: 1205px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.404);
    
    
}
.singlepage{
    margin:0px 0px 0px 140px;
}
.singlepage #tato{
    margin-bottom: 10px;
}
.button>:nth-child(2){
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.button>:nth-child(3){
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.button>:nth-child(3):hover{
    font-size: 30px;
    font-weight: bold;
    color: white;
}